<a href="https://colab.research.google.com/github/SiumNobo/PythonAI/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=10;
print(var1)

10

python formated string

In [ ]:
val1,val2=10,20
st1="val 1={} and val2={}".format(val1,val2)
print()
print("Value 1={1} and value 2={0}".format(val1,val2))
print("value 1={key1} and value 2={key2}".format(key1=val1,key2=val2))

f1=2.26
print("formated value:(:08.5f)".format(f1))
print("formated value:(key:08.5f)".format(key=f1))

Value 1=20 and value 2=10
value 1=10 and value 2=20
formated value:(:08.5f)
formated value:(key:08.5f)

Python input

In [ ]:
num1=int(input("enter your number?"))
num2=int(input("enter your number?"))

sum=num1+num2;
print(float(sum))

enter your number?10
enter your number?20
30.0

Multiline String

In [ ]:
str1='single quoted string'
str2="double quoted string"
str3='''multi-line
string
with tab'''
print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multi-line
string
with tab

Last output and boolean variable

In [ ]:
print(0==0)
print(0==1)
print(True)

True
False
True